@import "../../styles/_variables";

.form-content {
  box-sizing: border-box;
  background-color: $color4;
  width: 300px;
  margin: 0 auto;
  padding: 2rem;

  h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }

  button {
    margin-top: 1em;
  }
}