.error-notifier-message {
  color: red;
  position: fixed;
  bottom: 90px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 0, 0, 0.1);
  padding: 10px;
  border-radius: 5px;
  z-index: 1000;
  font-weight: bold;
}