@import "../../styles/_variables";

.account-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid $color5;
  background-color: $color4;
  margin: 0 auto;
  padding: 1.5rem;
  box-sizing: border-box;
  text-align: left;
  margin-bottom: 2rem;

  .account-infos {
    display: flex;
    flex-direction: column;

    .account-title {
      margin: 0;
      padding: 0;
      font-size: 1rem;
      font-weight: normal;
    }

    .account-amount {
      margin: 0;
      padding: 0;
      font-size: 2.5rem;
      font-weight: bold;
    }

    .account-desc {
      margin: 0;
      padding: 0;
    }
  }
}